.Button{
    color:white!important;
    font-size: 30px!important;
    color: white !important;
    font-size: 30px !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    background-color: #0074d9 !important;
    text-align: center !important;
    line-height: 100px !important;
    cursor: pointer !important;
}

.Button1{
    
        color:white!important;
        font-size: 30px!important;
}


.Display{
    margin:30px;
    margin-top:20px;
    padding:15px;
    background-color:#ccc;
    border-color:black;
    border-width: 2px;
    border:2px solid black;
}